// text color variables
$primary-text-color: #1f2937;
$secondary-text-color: #374151;
$completed-text-color: #6b7280;
$red-error-color: #ef4444; // Tailwind red-500

$light-gray-border: #e5e7eb;

$light-gray: #f3f4f6;
$dark-gray: #111827;

// background color variables
$light-green-bg: #f0fdf4;
$white-bg: #ffffff;
$danger-bg: #ef4444; // Red for delete button

// accent color variables
$blue-accent-color: #2563eb;
$green-accent-color: #10b981;

// spacing variables
$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 0.75rem; // 12px
$spacing-4: 1rem;    // 16px
$spacing-6: 1.5rem;  // 24px
$spacing-8: 2rem;    // 32px

$border-radius-sm: 0.25rem; // 4px
$border-radius-md: 0.375rem; // 6px
$border-radius-lg: 0.5rem;  // 8px

$font-size-base: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-sm: 0.875rem; // 14px
$font-size-h1: 2rem; // 32px
$font-size-h2: 1.5rem; // 24px
$font-size-h3: 1.25rem; // 20px
$font-size-h4: 1.125rem; // 18px