<div class="todo-list">
    <h2>Teendőim</h2>

    <div class="new-todo-form">
        <!-- Új teendő hozzáadása űrlap -->
        <form [formGroup]="newTodoForm" (ngSubmit)="addTodo()">
            <input
                type="text"
                formControlName="title"
                placeholder="Új teendő hozzáadása..."
            >
            <button type="submit" [disabled]="newTodoForm.invalid">Hozzáadás</button>
        </form>
        @if (newTodoForm.get('title')?.invalid && newTodoForm.get('title')?.touched) {
            <p class="validation-error">A teendő címe kötelező.</p>
        }
    </div>

    <!-- A teendőlista megjelenítése -->
    <ul>
        @for (todo of todos(); track todo.id) {
            <app-todo-item
                [todo]="todo"
                (completedChange)="todoService.toggleCompletted($event)"
                (deleteTodo)="todoService.deleteTodo($event)"
                [routerLink]="['/todo', todo.id]"
                routerLinkActive="active"
            ></app-todo-item>
        } @empty {
            <li class="empty">Nincsenek teendők.</li>
        }
    </ul>
</div>
<!-- [routerLink]="['/todo', todo.id]" -->