<div class="todo-list">
    <h2>Teendőim</h2>

    <div class="new-todo-form">
        <!-- Új teendő hozzáadása űrlap -->
        <form [formGroup]="newTodoForm" (ngSubmit)="addTodo()">
            <input
                type="text"
                formControlName="title"
                placeholder="Új teendő hozzáadása..."
                (focus)="isFormFocused.set(true)"
                (blur)="isFormFocused.set(false)"
            >
            <button type="submit" [disabled]="newTodoForm.invalid">Hozzáadás</button>
        </form>
        @if (newTodoForm.get('title')?.touched &&
            newTodoForm.get('title')?.invalid && 
            !isFormFocused()) {
            @if (newTodoForm.get('title')?.hasError('required')) {
                <p class="validation-error">A teendő címe kötelező.</p>
            }
            @else if (newTodoForm.get('title')?.hasError('minlength')) {
                <p class="validation-error">A teendő címe legalább 3 karakterből álljon.</p>
            }
            @else if (newTodoForm.get('title')?.hasError('maxlength')) {
                <p class="validation-error">A teendő címe legfeljebb 50 karakterből álljon.</p>
            }
            @else if (newTodoForm.get('title')?.hasError('forbiddenWord')) {
                <p class="validation-error">A teendő címe nem tartalmazhat tiltott szavakat.</p>
            }
        }
    </div>

    <!-- A teendőlista megjelenítése -->
    <ul class="todo-list-ul" [@listAnimation]="todos().length">
        @for (todo of todos(); track todo.id) {
            <app-todo-item
                [todo]="todo"
                (completedChange)="todoService.toggleCompleted($event)"
                (deleteTodo)="handleDeleteTodo($event)"
                [routerLink]="deletingTodoIds().has(todo.id) ? null : ['/todo', todo.id]"
                routerLinkActive="active"
                class="todo-item-link"
                [isDeleting]="deletingTodoIds().has(todo.id)"
            ></app-todo-item>
        } @empty {
            <li class="empty">Nincsenek teendők.</li>
        }
    </ul>
</div>
<!-- [routerLink]="['/todo', todo.id]" -->